{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

    {% if app.user.valid == 0 %} 
        {{ render('connexion') }}
    {% else %}
        <div class="container ">
            <div class='row mt-5 d-flex  justify-content-center'>
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <div class='row'>
                        <h4> Rechercher </h4>
                        {{ form_start(form) }}
                            <div class="row">
                                {{ form_row(form.string) }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(form.categories) }}
                                </div>
                                <div class="col-6" id="some-custom-id">
                                    {{ form_row(form.genres) }}
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                    <div class='row my-2 p-2 text-light shadow me-2 mt-3 d-none d-md-block ' style="background:#B0A081">
                        <h4 class='text-light'> Info covid</h4>
                        <p> Afin de limiter la propagation du virus Covid-19 lors du premier confinement, les bibliothèques et centres de documentation, au même titre que d'autres établissements recevant du public, ont dû fermer leurs portes. Victime elle aussi de cette contrainte et inspirée par le click and collect, la médiathèque de La Chapelle-Curreaux à souhaiter en profiter pour développer en interne une solution d’emprunt en ligne. </p>

                    </div>
                    <div class='row my-2 p-2 text-light shadow me-2 d-none  d-md-block ' style="background:#ACB8B8">
                        <h4 class='text-light'> Info Ville</h4>
                        <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années  </p>

                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-8">
                    <div class="row d-flex  justify-content-center">
                        {% for book in books %}
                            <div class="col-12 col-lg-4">
                                <div class="book-item">
                                    <div id="card" class="card shadow my-4 p-2  d-flex justify-content-center" style="height:22rem width:18rem" >
                                    <div style=" height: 30vh; width: 100wh;">
                                        <img src="/uploads/images/{{book.image}}" alt="" class="img-fluid px-5 mx-auto pt-3 position-absolute " style="heigth:100px width: 100px backgroundcolor : black">
                                        <img src="/uploads/images/default.png" alt="image-default" class="img-fluid px-5 mx-auto pt-3 " style="heigth:100px width: 100px backgroundcolor : black">
                                    </div>
                                        <div class="card-body">
                                            <h5 class="card-title ">{{book.name}}</h5>
                                            <p class="card-text">{{book.genre}}</p>
                                            <div class='d-flex justify-content-around '>
                                                <a href="{{ path('book', {'slug': book.slug}) }}" class="btn btn-secondary btn-sm align-self-center">VOIR</a>
                                                {% if book.status == 1 %} 
                                                    <a class = 'btn btn-sm bg-info mx-auto text-light' >  Indisponible </a>
                                                {% else %}
                                                    <a  href= "{{ path('add_to_cart', {'id' : book.id }) }}"
                                                        class="btn btn-sm text-light px-3 py-1" style="background:#5C636A" > <i class="bi bi-bag h4"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

